<div class="card border-dark">
  <div class="card-header">
    Consultar Saldo
  </div>
  <div class="card-body">
    <form id="contactForm" [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="exampleFormControlInput1">Número de Cuenta</label>
        <input required type="text" class="form-control" formControlName="NumberAccount" name="NumberAccount" id="exampleFormControlInput1" placeholder="00000000">
        <div class="alert-danger" *ngIf="numberAccount.invalid && (numberAccount.dirty || numberAccount.touched)">
          <strong class="" *ngIf="numberAccount.errors.required">
            El numero de cuenta es obligatorio
          </strong>
        </div>
      </div>

      <div class="form-group">
        <label >Saldo</label>
        <label disabled type="number" class="form-control"><strong> {{account.balance | currency}}</strong></label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary mr-2 ">Consultar Saldo</button>
        <button type="button" (click)="GeneratePdf()" *ngIf="account.balance > 0"  class="btn btn-info">Imprimir Comprobante</button>
      </div>

    </form>
  </div>
</div>
