<div class="card border-dark">
  <div class="card-header">
    Consignar dinero
  </div>
  <div class="card-body">
    <form id="contactForm" [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="exampleFormControlInput1">Número de Cuenta</label>
        <input required type="text" class="form-control" formControlName="NumberAccount" name="NumberAccount" id="exampleFormControlInput1" placeholder="00000000">
        <div class="alert-danger" *ngIf="numberAccount.invalid && (numberAccount.dirty || numberAccount.touched)">
          <strong class="" *ngIf="numberAccount.errors.required">
            El numero de cuenta es obligatorio
          </strong>
        </div>
      </div>

      <div class="form-group">
        <label >Valor a consignar</label>
        <input required type="number" class="form-control" formControlName="Deposit" name="Deposit" placeholder="00000000">
        <div class="alert-danger" *ngIf="deposit.invalid && (deposit.dirty || deposit.touched)">
          <strong class="" *ngIf="deposit.errors.required">
            El valor a consignar es obligatorio
          </strong>
        </div>
      </div>

      <div class="form-group" *ngIf="balance">
        <label >Nuevo saldo</label>
        <label class="col-form-label"><strong> {{balance | currency}}</strong></label>

      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary mr-2 ">Consignar Dinero</button>
        <button type="button" (click)="GeneratePdf()" *ngIf="balance"  class="btn btn-info">Imprimir Comprobante</button>
      </div>

    </form>
  </div>
</div>
