<div class="card border-dark">
  <div class="card-header">
    Acontinuacion ingrese los datos para crear una cuenta bancaria
  </div>
  <div class="card-body">
    <form id="contactForm" [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="exampleFormControlInput1">Nombre completo del nuevo cliente</label>
        <input required type="text" class="form-control" formControlName="fullName" name="fullName" id="exampleFormControlInput1" placeholder="Pepito Perez">
        <div class="alert-danger" *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
          <strong class="" *ngIf="fullName.errors.required">
            El nombre es obligatorio
          </strong>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput2">Valor de apertura</label>
        <input required type="number" class="form-control" formControlName="value" name="value" id="exampleFormControlInput2" placeholder="1000000">
        <div class="alert-danger" *ngIf="value.invalid && (value.dirty || value.touched)">
          <strong class="" *ngIf="value.errors.required">
            El valor es obligatorio
          </strong>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Crear Cuenta Bancaria</button>
      </div>

    </form>
  </div>
</div>
