<div class="card border-primary">
  <div class="card-header bg-primary ">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-light text-center">BIENVENIDO A BLUEBANK</h1>
      </div>
    </div>

  </div>
  <div class="card-body">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Crear Cuenta Bancaria</a>
        <ng-template ngbNavContent>
          <app-create-account></app-create-account>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Consultar Saldo</a>
        <ng-template ngbNavContent>
          <app-consulting-balance></app-consulting-balance>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Depositar Dinero </a>
        <ng-template ngbNavContent>
          <app-make-deposit></app-make-deposit>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink>Retirar Dinero</a>
        <ng-template ngbNavContent>
          <app-make-withdrawal></app-make-withdrawal>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>

</div>
